@import url("./layout.css");

:root {
	--primary-color: #30fbef;
	--purple-color: #9c69e2;
	--pagination-color: #f063b8;
	--body-bg: #282828;
	--section-bg: radial-gradient(38.2% 50% at 50% 50%, #2e3134 0%, #292b2e 100%);
	--section-container-shadow: inset 2px 2px 40px 0px #0000004d;
	--card-bg: #212121;
	--card-container-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25),
		-9px -9px 10px rgba(75, 93, 104, 0.1);
	--btn-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25),
		-3px -3px 8px rgba(75, 93, 104, 0.1);
	--btn-inset-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
	--section-padding: 100px 75px;
}

/* ******************************************
*********** fonts *****************
****************************************** */
@font-face {
	font-family: now-bold;
	src: url("../../fonts/now-bold-webfont.woff");
	font-weight: bold;
}

@font-face {
	font-family: now-regular;
	src: url("../../fonts/now-regular-webfont.woff");
	font-weight: normal;
}

@font-face {
	font-family: now-black;
	src: url("../../fonts/now-black-webfont.woff");
	font-weight: bold;
}

@font-face {
	font-family: now-medium;
	src: url("../../fonts/now-medium-webfont.woff");
}

/* ******************************************
*********** Utilities *****************
****************************************** */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--body-bg);
	font-family: now-regular;
	color: white;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
	margin-bottom: 0;
	list-style-type: none;
}

img {
	width: 100%;
}

.btn {
	padding: 16px 60px;
	border: none;
	border-radius: 50px;
	background: var(--body-bg);
	box-shadow: var(--btn-shadow);
	color: white;
	cursor: pointer;
	transition: all 0.3s;
}

.purple-arrow {
	color: var(--purple-color);
}

/* slider  */
.slide_container {
	width: 100%;
	position: relative;
	height: 560px;
	overflow: hidden;
}

.slide_cards {
	position: absolute;
	gap: 40px;
	left: 0;
	top: 0;
	transition: all 0.5s;
}

.slide-card {
	padding: 40px;
	background: var(--card-bg);
	box-shadow: var(--card-container-shadow);
	border-radius: 50px;
}

.dot_controller {
	gap: 5px;
}

.dot_controller div {
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background: white;
	cursor: pointer;
	transition: all 0.5s;
}

.dot_controller div.active {
	background: var(--pagination-color);
	height: 10px;
	width: 10px;
}

.arrow_controller {
	gap: 20px;
}

.arrow_controller span {
	display: inline-block;
	padding: 0 10px;
	cursor: pointer;
	transition: all 0.3s;
}

.arrow_controller span:hover {
	color: var(--pagination-color);
}

.left-zero {
	left: 0 !important;
}

/* ************** */
/* navbar  */
/* ************** */
nav {
	background: transparent;
	padding: 50px 120px;
	transition: all 0.3s;
	width: 100%;
	position: fixed;
	top: 0;
	background: var(--body-bg);
	z-index: 999999999999999;
}

.sticky-navbar {
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}

.sticky-navbar .scroll-indicator {
	position: absolute;
	height: 3px;
	width: 0%;
	left: 0;
	top: 100%;
	background: var(--primary-color);
}

.brand {
	gap: 10px;
}

.brand img {
	height: 50px;
	width: 50px;
}

.brand-name {
	color: var(--primary-color);
	font-weight: bold;
	font-family: now-bold;
	font-size: 26px;
}

.links {
	gap: 40px;
	color: white;
	transition: all 0.5s;
}

.links_list {
	gap: 40px;
}

.links_list_item a {
	color: white;
	transition: all 0.2s;
}

.links_list_item a:hover {
	color: var(--primary-color);
}

.request-demo .btn {
	padding: 14px 26px;
	color: var(--primary-color);
}

.request-demo .btn .purple-arrow {
	transition: all 0.3s;
	transform: translateX(2px);
	display: inline-block;
}

.request-demo .btn:hover .purple-arrow {
	transform: translateX(10px);
}

.bars {
	display: none;
	font-family: now-black;
	font-size: 30px;
	padding: 0 15px;
	cursor: pointer;
	transition: all 0.3s;
}

.bars:hover {
	color: var(--primary-color);
}

/* ************** */
/* navbar ends */
/* ************** */

/* ************** */
/* Header  */
/* ************** */
.header_container {
	width: 70%;
	margin: auto;
	padding: 70px 0;
	gap: 20px;
	grid-template-columns: 7fr 4fr;
}

.header_title {
	font-size: 75px;
	color: var(--primary-color);
	font-family: now-black;
	line-height: 80px;
	margin-bottom: 40px;
}

.header_desc {
	font-size: 17px;
	margin-bottom: 40px;
}

.header_container .btn {
	font-family: now-bold;
	font-size: 20px;
	transition: all 0.2s;
}

.header_container .btn:hover {
	color: var(--primary-color);
}
/* ************** */
/* Header ends  */
/* ************** */

/* ************** */
/* main start  */
/* ************** */
main {
	gap: 130px;
	width: 70%;
	margin: auto;
	margin-bottom: 70px;
}

/* sections common classes  */
#about,
#feature,
#download,
#testimonial {
	padding: var(--section-padding);
	background: var(--section-bg);
	box-shadow: var(--section-container-shadow);
	border-radius: 50px;
}

.section_title {
	color: var(--primary-color);
	font-size: 36px;
	font-family: now-black;
	line-height: 45px;
	margin-bottom: 40px;
}

.section_desc {
	font-size: 17px;
}

/* about section  */
.about_container {
	grid-template-columns: 4fr 5fr;
	gap: 50px;
}

/* feature section */
.feature-slide-card {
	width: clamp(200px, 350px, 400px);
}

.feature_icon {
	height: 200px;
	width: 200px;
	margin: auto;
	margin-bottom: 10px;
}

.feature-slide-card-title {
	color: var(--primary-color);
	font-family: now-bold;
	font-size: 24px;
	margin-bottom: 25px;
}

.feature-slide-card-desc {
	font-size: 15px;
	height: 160px;
	margin-bottom: 20px;
}

.feature-slide-card-content .learn-more {
	color: var(--primary-color);
	display: block;
	font-family: now-medium;
}

.feature-slide-card-content .learn-more .purple-arrow {
	transition: all 0.3s;
	transform: translateX(5px);
}

.feature-slide-card-content .learn-more:hover .purple-arrow {
	transform: translateX(15px);
}

/* download section */
.download_container {
	grid-template-columns: 1fr 1fr;
}

.download_container .btn {
	margin-top: 40px;
	font-family: now-bold;
	font-size: 20px;
	transition: all 0.2s;
}

.download_container .btn:hover {
	color: var(--primary-color);
}

.download_container .img {
	position: relative;
	height: 100%;
	width: 100%;
}

.download_container img {
	display: inline-block;
	position: absolute;
	height: 790px;
	width: 775px;
	top: 50%;
	left: 50%;
	transform: translate(-44%, -48%);
}

/* testimonial section */
.testimonial-slide-card {
	padding: 40px 50px;
	gap: 25px;
	width: 650px;
	align-items: flex-start;
}

.testimonial-profile img {
	height: 75px;
	width: 75px;
}

.testimonial-slide-card-name {
	color: var(--primary-color);
	font-size: 18px;
}

.testimonial_subtitle {
	color: var(--purple-color);
	margin: 10px 0 20px;
	font-size: 13px;
}

.testimonial-rating {
	gap: 50px;
}

.testimonial-rating .rating {
	gap: 5px;
}

.testimonial-rating .rating > div {
	height: 20px;
	width: 20px;
	background: var(--body-bg);
	box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25),
		-3px -3px 8px rgba(75, 93, 104, 0.1);
	border-radius: 50%;
}

.testimonial-rating .rating > div.active {
	background: var(--primary-color);
	box-shadow: none;
}

.testimonial_container .slide_container {
	height: 270px;
}

/* subscribe section */
.subscribe_container {
	gap: 30px;
}

.subscribe_container .section_title {
	margin-bottom: 20px;
}

.subscribe_container .input {
	position: relative;
	width: clamp(300px, 500px, 100%);
}

.subscribe_container .input input {
	padding: 25px 30px;
	padding-right: 140px;
	box-shadow: var(--btn-inset-shadow);
	border-radius: 50px;
	border: 1px solid #272829;
	background: radial-gradient(38.2% 50% at 50% 50%, #2e3134 0%, #292b2e 100%);
	width: 100%;
	color: white;
	font-family: now-medium;
}

.subscribe_container .input input::placeholder {
	color: white;
}

.subscribe_container .input input:focus {
	outline: none;
}

.subscribe_container .btn {
	position: absolute;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
	padding: 10px 30px;
}

.subscribe_container .btn:hover {
	color: var(--primary-color);
}

/* ************** */
/* main ends  */
/* ************** */

/* divider */
.divider {
	width: 100%;
	height: 2px;

	background: var(--purple-color);
	opacity: 0.2;
	box-shadow: 0px -7px 0px rgba(255, 255, 255, 0.19);
}

/* offer  */
.offer_container {
	padding: 70px 0;
	width: 70%;
	margin: auto;
	gap: 30px;
}

.offer_container .section_title {
	margin-bottom: 20px;
}

.offer_container .btns {
	gap: 15px;
}

.offer_container .btn {
	font-family: now-medium;
	padding: 16px 40px;
}

.offer_container .btn:hover {
	color: var(--primary-color);
}

.request-demo {
	padding: 14px 26px;
	color: var(--purple-color);
}

.request-demo .purple-arrow {
	transition: all 0.3s;
	transform: translateX(2px);
	display: inline-block;
}

.offer_container .request-demo:hover {
	color: var(--purple-color);
}

.offer_container .request-demo:hover .purple-arrow {
	transform: translateX(10px);
}

/* ************** */
/* Footer start  */
/* ************** */
.footer_container {
	padding: 70px 0 170px;
	width: 70%;
	margin: auto;
	color: var(--primary-color);
	font-size: 15px;
}

.footer_container a {
	color: var(--primary-color);
}

.footer_container .d-grid {
	grid-template-columns: 1fr 1fr 1fr;
}

.footer_container .brand {
	margin-bottom: 40px;
}

.footer_container .street p {
	line-height: 30px;
}

.footer_container .street p:first-child {
	margin-bottom: 15px;
}

.footer_container > .d-flex {
	gap: 40px;
}

.footer_container .d-flex:first-child {
	margin-bottom: 50px;
}

.footer_container .d-flex > div {
	align-self: flex-start;
}

.address,
.footer_links,
.social_links {
	align-self: start;
}

.footer_links_header a {
	display: block;
	margin-bottom: 40px;
}

.footer_links_header + ul {
	align-items: flex-start;
	gap: 15px;
}

.social_icons ul {
	gap: 30px;
}

.social_icons_item a {
	display: inline-block;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	box-shadow: var(--btn-inset-shadow), inset -2px -2px 4px rgba(0, 0, 0, 0.3),
		-2px -2px 4px rgba(255, 255, 255, 0.05),
		2px 2px 4px rgba(255, 255, 255, 0.05);
	text-align: center;
	line-height: 60px;
	background: transparent;
	color: white;
	font-size: 26px;
	transition: all 0.3s;
}

.social_icons_item a:hover {
	color: var(--primary-color);
}

/* ************** */
/* Footer end  */
/* ************** */
