.d-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.f-wrap {
	flex-wrap: wrap;
}

.f-grow {
	flex: 1;
}

.j-start {
	justify-content: flex-start;
}

.j-end {
	justify-content: flex-end;
}

.j-between {
	justify-content: space-between;
}

.f-column {
	flex-direction: column;
}

.d-grid {
	display: grid;
	align-items: center;
}
